extends ../layout.jade
block contenido
	div(class="col-md-5 center-block no-float top-space text-left")
		h1 Predecir
		form(method="post" action="/menu/predecir" style="margin-top:1.5em;")
			div(class="form-group")
				label Genero
				select(name="genero" class="selectpicker" class="form-control")
					option(value="1") Hombre
					option(value="0") Mujer	  
			div(class="form-group")
				label EDAD
				input(type="number" name="edad" placeholder="Edad" class="form-control")
			div(class="form-group")
				label CIGARRILLO
				input(type="number" name="cig" placeholder="CIG" class="form-control")
			div(class="form-group")
				label EXPOSICIÓN AL ASBESTO
				select(name="expa" class="selectpicker" class="form-control")
					option(value="1") BAJO
					option(value="2") MEDIO
					option(value="3") ALTO
			div(class="form-group")
				label PIGMENTACIÓN
				input(type="number" name="ip" placeholder="ip" class="form-control")
			div(class="form-group")
				label ALCOHOL
				select(name="alcohol" class="selectpicker" class="form-control")
					option(value="1") SI
					option(value="0") NO
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")